---
---
<header>
  <div class="container">
    <a href="/">
      <img src="/assets/exploringlanka-logo.png" alt="ExploringLanka" style="height:48px" />
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/tours">Tours</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
